body{
    margin: 0;
    font-family: Ariel, sans-serif;
    background-color: #0f172a;;
    color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #020617;
    border-bottom: 1px solid #1e293b;

}

h1{
    margin: 0;
    color: #7c3aed
}

input{
    padding: 8px;
    width: 250px;
    border-radius: 6px;
    border: none;
    outline: none;
    background-color: #1e293b;
    color: white;
}

.filters{
    display: flex;
    gap: 10px;
    padding: 15px 30px;
}

select{
    padding: 8px;
    border-radius: 6px;
    background-color: #1e293b;
    color: white;
    border: none;
}

/* Movie Grid */
#movieContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    padding: 20px;


}

/* Movie Card */

.movie-card {
    background-color: #020617;
    border-radius:  10px;
    overflow: hidden;
    transition: 0.3s ease ;
    cursor: pointer;
}

.movie-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px #7c3aed;
}

.movie-card img {
    width: 100%;
    height: auto;
    object-fit: contain;
    background-color: #020617;
    border-radius: 8px;
}

.movie-info {
    padding: 10px;
}

.movie-info h3{
    font-size: 14px;
    margin: 8px 0;
    display: inline-block;
    border-bottom: 2px solid transparent;
    transition: 0.3s;
}
.movie-info h3:hover{
    /* text-decoration: underline; */
    border-bottom: 2px solid #7c3aed;
}

.movie-info p{
    font-size: 12px;
}


/* loadMore button */
#loadMore{
    display: block;
    margin: 30px auto;
    padding: 12px 20px;
    background-color: #7c3aed;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;

}
#loadMore:hover{
    background-color: #6d28d9;
}